@font-face {
    font-family: Lufga;
    src: url(../fonts/CalibriRegular.ttf);
}

/*@font-face {*/
/*    font-family: Lufga;*/
/*    font-weight: bold;*/
/*    src: url(../fonts/CalibriBold.ttf);*/
/*}*/

@font-face {
    font-family: Lufga;
    font-style: italic;
    src: url(../fonts/CalibriItalic.ttf);
}


@tailwind base;
@tailwind components;
@tailwind utilities;